.section-1{
    display: grid;
    gap: 20px;
    margin-top:25px ;
    margin-bottom: 30px;
}

.section-1__images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.section-1__content--text{
    font-size: var(sub);
    font-family: var(---font-2);
}

.section-1__btn{
    justify-self: center;
}

/* 
styles for  responsive design
*/

@media (max-width:568px){
    .section-1__images{
        grid-template-columns: repeat(1,1fr);
    }
}
