@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


body{
    display: grid;
    min-height: 100vh;
}

.hero{
    align-self:start ;
}

.footerWraper{
    align-self:start;
}

.section-1{
    margin-top: 30px;
    margin-bottom: 40px;
}


.section-1__content--text{
    font-size: var(--sub);
    font-family: var(--font-2);
}

.section-1__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-family: var(--font-2);
    text-align: center;
    gap: 30px;
    margin-top: 30px;
}

[class^='section-1__cards--']{
    box-shadow: var(--shadow-1);
    display: grid;
    gap: 15px;
    padding: 40px;
    border-radius: 6px;
}

.price{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.amount{
    font-size: var(--h1);
    font-weight: bold;
}

.time{
    font-size: var(--body);
    color: var(--color-dark-75);
}

.info{
    color: var(--color-dark-75);
}

.features{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
}

.black-btn{
    justify-self: center;
}
.bi-check-lg{
    color: var(--color-blue-100);
}

@media(max-width:1024px){
    .section-1__cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:768px){
    .section-1__cards{
        grid-template-columns: repeat(1,0.7fr);
        justify-content: center;
    }
}
@media(max-width:568px){
    .section-1__cards{
        grid-template-columns: repeat(1,1fr);
    }
}